body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#password {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}


video {
    width: 400px;
    height: 600PX;
}

h1 {
    color: red;
}
